 .gallery {
    width: 150px;
    text-align: center;
    display:inline-block; 
    box-sizing: border-box; 
    position:relative;
    padding: 10px;
    
}
.Text{
    display:block;
    position:absolute;
    left:0;
    bottom:0;
    width:100%;
 
    box-sizing: border-box; 
    border-radius: 6px;    
    color:#fff;
         
    padding:10px;
    background:linear-gradient(to top, #000000, #ffffff00);
    
    
}
.TextHD{
    display:block;
    position:absolute;
    right:5px;
    top:5px;
    width:25%;
    font-size: 14px;
 
    box-sizing: border-box; 
    border-radius: 6px;    
    color:rgb(0, 0, 0);
         
    padding:1px;
    background-color:rgb(254, 215, 9);
    
}

/* Ссылки и обёртка для картинок */
.imgLink {
  display: inline-block;
  position: relative;
  width: 100%;
  
  height: 200px;
  
}

.img {
  
  width: 100%;
  height: 100%;
  border-radius: 6px;
}
img {
  object-fit: cover;}

/* Общие стили для перекрывающих элементов */
.coverBg,
.coverTitle {
  opacity:0;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  
  
  
}

/* Отображаем перекрывающие элементы при наведении на блок с картинкой */
.imgLink:hover .coverBg,
.imgLink:hover .coverTitle{
  display: block;
  transition: 0.75s;
  opacity: 0.8;
  
  
}

/* Полупрозрачный перекрывающий голубой фон */
.coverBg {
    border-radius: 6px;   
    
  background: rgb(29, 80, 108);
          opacity: 0;
      
}

/* Перекрывающий текст */
.coverTitle {
 vertical-align: middle;
 top: 25%;
  color: rgb(255, 255, 255);
  font-size: 120%;
  text-align: center;
  text-transform: uppercase;
    
}

@media (max-width: 600px) {
  .gallery {
    width: 50%;
  }
}